// COLORS

$color-light-black: #333;
$color-light-black-opacity: rgba(51, 51, 51, .56);
$color-white: #fff;
$color-light-gray-opacity: rgb(129, 129, 129);
$color-light-green: #00a651;
$color-dark-green: #49743f;
$color-dark-yellow: #aba000;
$color-orange: #ff4200;
$color-red: #fd3329;