* {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html, body {
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	font: 400 14px $font-family-lato;
	color: $color-light-black;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: $font-family-fredoka-one;
	text-transform: uppercase;
}

h2 {
	font-size: 48px;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a, 
button, 
input, 
img,
*::placeholder,
*::before,
*::after {
	transition-duration: $duration-normal;
}

input {
	display: block;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0;
	font-size: inherit;
}

input[type="checkbox"] {
	display: none;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */

	@include tablet-xl {
		width: 75%;
	}

	@include mobile-xl {
		width: 85%;
	}
}
  
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
  
input:focus {
	outline: none;
}
  
input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}

img {
	max-width: 100%;
	object-fit: cover;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #fff;
	padding: 0;
	font-family: inherit;
	text-transform: uppercase;

	&:focus {
		outline: none;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

span {
	display: inline-block;
}

address {
	font-style: normal;
}